doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='reviewstyle')
      h2 Bitte überprüfe die eingegeben Daten:
      ol 
        p= 'Vorname:  ' +  first_name
        p= 'Nachname:  ' + last_name
        p= 'Adresse:  ' + address
        p= 'PLZ:  ' + post_code
        p= 'Ort:  ' + city
        p= 'Email-Adresse:  ' + email
        p= 'Telefonnummer:  ' + mobile
        p= 'Geburtdatum:  ' + birthday
        p= 'Studiengang:  ' + study
        p='Ernährungsstil:  ' + veggie_level
        p='Kommentar: ' + comment
      form(method='POST', action='/email')
        div(class='hidden')
          input#last_name(name='first_name', type='text',value=first_name)
          input#first_name(name='last_name', type='text',value=last_name)
          input#address(name='address', type='text',value=address)
          input#post_code(name='post_code', type='text',value=post_code)
          input#city(name='city', type='text',value=city)
          input#email(name='email', type='text',value=email)
          input#mobile(name='mobile', type='text',value=mobile)
          input#birthday(name='birthday', type='text',value=birthday)
          input#study(name='study', type='text',value=study)
          input#veggie_level(name='veggie_level', type='text',value=veggie_level)
          input#comment(name='comment', type='text',value=comment)
        input(type='submit', value='Submit')
      